body, html {
    font-family: 'Calibri', 'Arial', sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    /* display: flex; */
    justify-content: stretch; /* Modifié pour étirer les éléments horizontalement */
    align-items: stretch; /* Modifié pour étirer les éléments verticalement */
    background-color: #f0f0f0;
}

#container {
    display: flex;
    justify-content: space-between; /* Répartit les éléments à l'intérieur de manière égale */
    background-color: #fff;
    height: 100vh; /* Assure que le conteneur remplit toute la hauteur de la vue */
}

#thumbnails, #pdf-viewer, #tools {
    flex-grow: 1; /* Permet aux éléments internes de remplir l'espace disponible */
    overflow-y: auto; /* Ajoute un défilement si le contenu dépasse */
    width: 30%; /* Répartit l'espace disponible de manière égale entre les éléments */
    margin: 0 5px; /* Ajoute une marge autour des éléments */
}

#thumbnails {
    background-color: #eee;
    width: 15%; /* ou une largeur fixe si vous préférez */
}

#pdf-viewer {
    flex-grow: 2; /* Donne plus d'espace au viewer PDF */
    padding: 20px;
    text-align: center;
    width: 70%; /* ou une largeur fixe si vous préférez */
}

#tools {
    background-color: #ddd;
    padding: 10px;
    width: 15%; /* ou une largeur fixe si vous préférez */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#tools i {
    margin: 5px 0;
}

/* Supprimez l'ordre négatif pour que les éléments s'affichent dans l'ordre naturel */
@media (max-width: 768px) {
    #container {
        flex-direction: row; /* Changez cela si vous préférez une disposition verticale */
    }
    #tools, #thumbnails {
        width: 100%; /* Prend toute la largeur */
    }
    #pdf-viewer {
        flex-grow: 1; /* Assure que le viewer PDF ne prend pas trop d'espace */
    }
}

.file-input-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    z-index: 1000; /* Assure que le conteneur est au-dessus des autres éléments */
}
